<!-- @if(videoGameList.length > 0)
{ -->
<dtbc-main-filters></dtbc-main-filters>

<!-- @if(videoGames$ | async; as videoGameList) {
  <dtbc-table-games
    title="Liste des mes jeux-vidéos"
    [items]="videoGameList"
    (toCreate)="prepareCreation()"
  />
} -->

@if(videoGames$$(); as videoGameList) {
  <dtbc-table-games
    title="Liste des mes jeux-vidéos"
    [items]="videoGameList"
    (toCreate)="prepareCreation()"
  />
}




@if(readyToCreate()) {
  <dtbc-create-video-game></dtbc-create-video-game>
}
